.about {
    padding: 100px 0;
}

.about-img {
    width: 100%;
}

.about-des {
    font-size: 2.4rem;
    font-weight: 700;
}

.step {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px 0 30px;
}

.about-step {
    width: 50%;
    padding: 0 20px 0 0;
}

.step-icon {
    font-size: 3.2rem;
    padding: 1.4rem;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, .15);
}

.title-step {
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
}

.des-step {
    font-size: 2.4rem;
}

.about-btn {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1rem 6rem;
    border-radius: 30px;
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
}

.about-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.about-btn:active {
    color: var(--primary-color);
    background-color: var(--white-color);
}