.info {
    padding: 70px 0;
    background-color: var(--bg-color);
}

.info-heading {
    margin-left: 10px;
}

.info-des {
    font-size: 2.4rem;
    font-weight: 700;
}

.info-filter {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 20px;
}

.title-filter {
    font-size: 2rem;
    font-weight: 500;
    color: var(--black-color);
    padding-top: 10px;
}

.filter-btn {
    font-size: 2rem;
    padding: .75rem 2.4rem;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.filter-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.filter-btn:active {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.info-list {
    margin: 5px;
}

.info-load-more {
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
    color: var(--black-color);
    cursor: pointer;
    width: 10%;
    margin: auto;
}

.info-load-more:hover {
    color: var(--primary-color);
}

