@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --primary-color: #37D747;
  --black-color: #130f40;
  --light-color: #666666;
  --white-color: #fff;
  --bg-color: #F3FFF4;
  --bg-footer: #F1F1F1;
  --box-shadow-color: 0 1rem 1rem rgba(0, 0, 0, .05);
}

ul {
  list-style: none;
}

.title {
  font-size: 6rem;
  font-weight: 900;
  color: var(--black-color);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

